# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Environment variables & secrets
.env
**/secrets.toml

# IDE settings
.vscode/
.idea/
